body {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 20px;
    gap: 1%;
}

input, textarea, select {
    display: block;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

select {
    margin-top: 1%;
    width: 71%;
    align-self: center;
    color: #808080;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
    color: #333;
}

#btnDiv {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0px;
}

button {
    align-self: center;
    margin-top: 1%;
    padding: 10px 15px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnDash, #btn {
    background-color: #4CAF50;
}

#btnDash:hover, #btn:hover {
    background-color: #45a049;
}

#btnCancel, #btnExclude {
    background-color: #e57373;
    width: 150px;
    height: 40px;
}

#btnCancel:hover, #btnExclude:hover {
    background-color: #ef5350;
}

#formLogin, #formNovoChamado {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 1%;
}

#inputLogin, #tituloNovoChamado, #descricaoNovoChamado {
    width: 100%;
    max-width: 400px;
    margin: 1% auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

label {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%;
    height: auto;
    align-self: center;
    align-items: center;
    padding: 5px;
    border-radius: 6px;
    margin: 1% auto;
    font-size: medium;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: #4CAF50;
    margin: 1%;
}

a:hover {
    color: #45a049;
}

table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 20px 0;
}

th {
    background-color: #d3d3d3;
    color: #333;
    padding: 12px;
    text-align: center;
}

tr {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    padding: 12px;
    text-align: center;
}

#tabAction {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    body {
        margin: 10px;
    }
    #btnDiv {
        flex-direction: column;
        gap: 5px;
    }
    #inputLogin, #tituloNovoChamado, #descricaoNovoChamado, label, select {
        width: 100%;
    }
    table, td {
        width: 100%;
    }
}
