<!DOCTYPE html>
<html>
	<head>
		<title>Sistema de Chamados</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>

	<h1>Novo Usuário</h1>

	<form id="formLogin" action="{{ url_for('user.criar_usuario') }}" method="post">
		<input id="inputLogin" type="text" name="username" placeholder="Usuário">
		<input id="inputLogin" type="password" name="password" placeholder="Senha">

		<select id="selectuser" name="role" placeholder="Cargo">
			<option value="admin">Admin</option>
			<option value="tecnico">Técnico</option>
			<option value="cliente">Cliente</option>
		</select>
		<button id="btn" type="submit">Criar</button>
	</form>

	<a href="/dashboard"><button id="btnCancel">cancelar</button></a>
</html>