<!DOCTYPE html>
<html>
  <head>
      <title>Sistema de Chamados</title>
      <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>

    <h1>Usuários</h1>

    <!-- tabela de usuários -->
     
    <table>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Role</th>
        <th>Ações</th>
      </tr>
    
      {% for u in usuarios %}
      <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.role }}</td>
        <td id="tabAction">
          <form action="{{ url_for('user.deletar_usuario', id=u.id) }}" method="post" style="display:inline;">
            <button id="btnExclude" type="submit">Excluir</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>

    <!-- Botão para adicionar novo usuário -->
    <a href="/user/novo">
      <button id="btn" type="button">Novo Usuário</button>
    </a>

    <!-- Link para voltar à lista -->
    <a href="/dashboard">
      <button id="btnCancel" type="button">voltar</button>
    </a>

  </body>
</html>
